<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Połączenia z Bazą</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Test Połączenia z Bazą</h1>
<p><strong>Serwer PostgreSQL:</strong> <%= dbStatus %></p>
<p><strong>Aktualny czas serwera:</strong> <%= serverTime %></p>
</body>
</html>
